<%- include('../partials/admin-header.ejs') %>
<diV class="container">

  <div class="screen-overlay"></div>

  <main class="main-wrap mx-auto">

    <section class="content-main">
      <div class="content-header">
        <h2 class="content-title">Users</h2>
      </div>
      <div class="card mb-4">

        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">

              <thead>

                <tr>
                  <th>
                    <h4>User Name</h4>
                  </th>
                  <th>
                    <h4>Email</h4>
                  </th>
                  <th>
                    <h4>Status</h4>
                  </th>
                  <!-- <th><h4>Registered</h4></th> -->
                  <th></th>
                  <th></th>

                </tr>
              </thead>

              <% user.forEach(function(item) { %>

                <tbody>
                  <tr>
                    <td width="40%">
                      <a href="#" class="itemside">
                        <!-- <div class="left">
                                                <img src="assets/imgs/people/avatar1.jpg" class="img-sm img-avatar" alt="Userpic">
                                            </div> -->
                        <div class="info pl-3">
                          <h4 class="mb-0 title">
                            <%= item.username %>
                          </h4>
                          <small class="text-muted"></small>
                        </div>
                      </a>
                    </td>

                    <td>
                      <h5>
                        <%= item.email %>
                      </h5>
                    </td>

                    <% if (item.status==true) { %>

                      <td>
                        <H5><span class="badge rounded-pill alert-success">Active</span></H5>
                      </td>
                      <% } else { %>

                        <td>
                          <H5><span class="badge rounded-pill alert-danger">Inactive</span></H5>
                        </td>
                        <% } %>



                          <td class="text-end">

                            <!-- <button class="btn btn-info text-white"><a href="">Orders</a></button> -->

                            <button class="btn btn-info text-white"><a href="/admin/order-list/<%=item._id%>">Orders</a></button>

                            <% if (item.status==true) { %>
                              <button class="btn btn-danger text-white"
                                onclick="changeUserStatus('<%= item._id %>',false)">Block</button>
                              <% } else { %>

                                <button class="btn btn-success text-white" onclick="changeUserStatus('<%= item._id %>',true)">UnBlock</button>
                                <% } %>

                          </td>
                          <td class="text-end">
                          </td>

                  </tr>

                </tbody>

                <% }); %>


            </table> <!-- table-responsive.// -->
          </div>
        </div> <!-- card-body end// -->
      </div> <!-- card end// -->



      


   
      






    </section> <!-- content-main end// -->

</div>
<%- include('../partials/admin-footer.ejs') %>
<script>
  function changeUserStatus(userId, status) {

    $.ajax({
      url: '/admin/change_user_status/?id=' + userId + '&status=' + status,
      method: 'PUT',
      success(response) {
        location.reload()

      }
    })
  }
</script>
