<%- include('../partials/user-header.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">


<% if(count>=1) { %>

  <main class="main">
    <!-- <div class="page-header breadcrumb-wrap"> -->
    <!-- </div> -->
   
   


    <section class="mt-50 mb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table shopping-summery text-center clean">
                <thead>
                  <tr class="main-heading">
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <% cartItems.forEach(function(item,index) { %>
  
                    <td class="image"><img src="/productImages/<%=item.carted.img[0] %>" alt="#"></td>
                    <td class="product-des">
                      <h5 class="product-name"><a href="shop-product-right.html"><%= item.carted.name %></a></h5>
                      <p class="font-xs"><br>
                      </p>
                    </td>

                   

                    <!-- <td class="price" data-title="Price"><span>₹ </span></td> -->
                   

                    <td class="price" data-title="Price"><span>₹<%=item.carted.price %></span></td>
                   
                    <td class="text-center" data-title="Stock">
                      <div class="detail-qty border radius m-auto d-flex justify-content-center">
                        <button class="qty-btn" onclick="changeQuantity('<%= item._id %>','<%=item.item %>', -1)"><i class="fi-rs-angle-small-down"></i></button>
                        <span class="qty-val" id="qty-<%= item.item %>"><%= item.quantity %></span>
                        <button class="qty-btn" onclick="changeQuantity('<%= item._id %>','<%=item.item %>', 1)"><i class="fi-rs-angle-small-up"></i></button>
                      </div>
                    </td>
                    
                    
                    
  
                    <td class="text-right" data-title="Cart">
                     <span id="" class="subTotalVal"><%= item.carted.price * item.quantity %></span> 
                    </td>
                    <td class="action" data-title="Remove"><a onclick="deleteProduct('<%= item._id %>','<%=item.item %>')"><i class="fi-rs-trash"></i></a></td>

                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
            <div class="cart-action text-end">
              <a class="btn " href="/shop"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
            </div>
            <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
            <div class="row mb-50">
              <!-- <div class="col-lg-6 col-md-12">
                <div class="mb-30 mt-50">
                  <div class="heading_s1 mb-3">
                    <h4>Apply Coupon</h4>
                  </div>
                  <div class="total-amount">
                    <div class="left">
                      <div class="coupon">
                        <form action="#" target="_blank">
                          <div class="form-row row justify-content-center">
                            <div class="form-group col-lg-6">
                              <input class="font-medium" name="Coupon" placeholder="Enter Your Coupon">
                            </div>
                            <div class="form-group col-lg-6">
                              <button class="btn  btn-sm"><i class="fi-rs-label mr-10"></i>Apply</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div> -->
            </div>
            <div class="col-lg-12 col-md-12
            " style="position: relative;">
              <div class="border p-md-4 p-30 border-radius cart-totals">
                <div class="heading_s1 mb-3">
                  <h4>Cart Totals</h4>
                </div>
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="cart_total_label">Cart Subtotal</td>
  
                        <td class="cart_total_amount">₹<span class="font-lg fw-900 text-brand" id="subTotal"><%= total %></span></td>
  
                      </tr>
                      <tr>
                        <td class="cart_total_label">Shipping</td>
                        <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                      </tr>
                      <tr>
                        <td class="cart_total_label">Total</td>
  
                        <td class="cart_total_amount">₹<strong><span class="font-xl fw-900 text-brand" id="total"><%= total %></span></strong></td>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div style="padding-left: 998.7px;">
                  <a href="/check-out" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
   
    <% } else { %>


      <div class="empty-cart-container ">
        <div class="empty-cart ">
          <h2>Cart is empty</h2>
          <br>
          <br>
          
        
          <img src="/assets/imgs/theme/clipart4202093.png" alt="">
          <br>
          <br>
          <br>
        
          <a href="/shop"><h3 class="ml-10 btn btn-primary">Back to Shopping!!</h3></a>
        </div>
      </div>

      <% } %>

  </main>
  <%- include('../partials/user-footer.ejs') %>



  <style>
    .qty-btn {
      background-color: #f8f8f8;
      border: none;
      color: #555;
      cursor: pointer;
      font-size: 14px;
      
    }
  
    .empty-cart-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .empty-cart {
      text-align: center;
      width: 25%;
      margin-top: 5%; 
      margin-bottom: 5%; 
      
    }
  
    .empty-cart img {
      max-width: 100%;
      height: auto;
    }
  
  </style>
  
  
<script>
function changeQuantity(cartId, proId, count) {
  let quantityElement = document.getElementById('qty-' + proId);
  let quantity = parseInt(quantityElement.textContent);

  $.ajax({
    url: '/change-product-quantity',
    method: 'post',
    data: {
      cart: cartId,
      product: proId,
      count: count,
      quantity: quantity
    },
    success: (response) => {
      if (response.status) {
        quantity += count;
        quantityElement.textContent = quantity;
      }
    },
    error: (error) => {
      console.log(error);
    }
  });
}



// function changeQuantity(cartId, proId,count) {
//   function changeQuantity(cartId, proId, count) {
//     const element = document.getElementById(proId);
//     if (element) {
//         const quantity = parseInt(element.textContent);
//         console.log(cartId, proId, count);
//         if (quantity == 1 && count == -1) {
//             deleteProduct(cartId, proId);
//         } else {
//             $.ajax({
//                 url: '/changeQuantity',
//                 data: {
//                     cart: cartId,
//                     product: proId,
//                     count: count,
//                     quantity: quantity
//                 },
//                 method: 'post',
//                 success: (response) => {
//                     console.log(response, 'reeeeeeeeee');
//                     if (response.status) {
//                         const updatedQuantity = quantity + count;
//                         element.textContent = updatedQuantity;
//                     } else {
//                         document.getElementById(index + 'button').disabled = true;
//                     }
//                 }
//             });
//         }
//     }
//   }
// }

  
    
   



  function deleteProduct(cartId,proId) {
      console.log('hhhhhhhhhhhh')
    Swal.fire({
      title: 'Are you sure?',
      text: 'This action cannot be undone.',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, delete it!',
      cancelButtonText: 'Cancel'
    }).then((result) => {
      if (result.isConfirmed) {
      
        $.ajax({
          url: '/deleteCart/'+proId,
          method: 'DELETE',
          data: {
            cartId: cartId,
            proId: proId
          },
         
          success: function(response) {
            // Handle the response data
            if(response.status){
              location.reload()
            }
          },
          error: function( error) {
            
            console.log('Error: ' + error);
          }
        });
        

        
      } else if (result.dismiss === Swal.DismissReason.cancel) {
        // User clicked the cancel button
        Swal.fire('Cancelled', 'The action has been cancelled.', 'error');
      }
    });
    
  }


</script>
  
  


