
    
    <%- include('../partials/user-header.ejs') %>
   
  
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">


        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        

                        <div class="row product-grid-3">
                            <% product.forEach(function(item) { %>
                                <% if (item.unlist == false) { %>       
                            <div class="col-lg-3 col-md-4">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/product-detail/<%= item._id%>">
                                                <img class="default-img" src="/productImages/<%= item.img[0]%>" alt="">
                                                <img class="hover-img" src="/productImages/<%= item.img[1]%>" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
<i class="fi-rs-search"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">Music</a>
                                        </div>
                                        <h2><a href="shop-product-right.html"><%= item.name %></a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span><%= item.rating %></span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>₹<%= item.price %></span>
                                            <span class="old-price"></span>
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Add To Cart" class="action-btn hover-up"
                            
                                                            onclick="addToCart('<%= item._id %>')">
                                                            <i class="fi-rs-shopping-bag-add"></i>
                                                        </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } else { %> <% } %>
                            <% }); %>
                            

                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                        
                        </div>





                        <!--pagination-->
                        <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><i class="fi-rs-angle-double-small-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>




    </main>
    
    <%- include('../partials/user-footer.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    
    <script>
        function addToCart(proId) {
          $.ajax({
            url: '/addToCart/' + proId,
            method: 'POST',
            success: (response) => {
              if (response.status) {
                // Product added successfully
                toastr.success('Product added to cart');
              } else {
                // Login needed
                toastr.success('Product added to cart');
              }
            },
            error: (error) => {
              console.error(error);
            }
          });
        }
      </script>
      
        