<%- include('../partials/user-header.ejs') %>
    <!-- Quick view -->
   

    <main class="main">
        <section class="home-slider position-relative mb-30">
            <div class="container">
                <div class="home-slide-cover bg-grey-10 mt-30">
                    <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">

                        <% banner.forEach((banner, index) => { %>
                            <% if(banner.categoryOffer !== 'null'){ %>

                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="row align-items-center slider-animated-1">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="hero-slider-content-2">
                                            <h4 class="animated"><%= banner.title %></h4>
                                            <h3 class="animated fw-900"><%= banner.mainDescription %></h3>
                                            <h2 class="animated fw-900 text-brand"><%= banner.subDescription %></h2>
                                            <p class="animated"><%= banner.categoryOffer %></p>
                                            <a class="animated btn btn-brush btn-brush-3" href="/shop" tabindex="0"> Shop Now </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-6">
                                        <div class="single-slider-img single-slider-img-<%= index + 1 %>">
                                            <img class="animated" src="/productImages/<%= banner.image %>" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      

                        <% } %> 
                        <% }) %>

                    </div>
                    <div class="slider-arrow hero-slider-1-arrow"></div>
                </div>
            </div>
        </section>






        <section class="banners mb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="assets/imgs/banner/banner-1.png" alt="">
                            <div class="banner-text">
                                <span>Smart Offer</span>
                                <h4>Save 20% on <br>Woman Bag</h4>
                                <a href="/shop">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="assets/imgs/banner/banner-2.png" alt="">
                            <div class="banner-text">
                                <span>Sale off</span>
                                <h4>Great Summer <br>Collection</h4>
                                <a href="/shop">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-md-none d-lg-flex">
                        <div class="banner-img wow fadeIn animated  mb-sm-0">
                            <img src="assets/imgs/banner/banner-3.png" alt="">
                            <div class="banner-text">
                                <span>New Arrivals</span>
                                <h4>Shop Today’s <br>Deals & Offers</h4>
                                <a href="/shop">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>





        
        

        
        <!-- <section class="deals section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 deal-co">
                        <div class="deal wow fadeIn animated mb-md-4 mb-sm-4 mb-lg-0" style="background-image: url('assets/imgs/banner/menu-banner-7.jpg');">
                            <div class="deal-top">
                                <h2 class="text-brand">Deal of the Day.</h2>
                                <h5>Limited quantities.</h5>
                            </div>
                            <div class="deal-content">
                                <h6 class="product-title"><a href="shop-product-right.html">Summer Collection New Morden Design</a></h6>
                                <div class="product-price"><span class="new-price">$139.00</span><span class="old-price">$160.99</span></div>
                            </div>
                            <div class="deal-bottom">
                                <p>Hurry Up! Offer End In:</p>
                                <div class="deals-countdown" data-countdown="2025/03/25 00:00:00"></div>
                                <a href="shop-grid-right.html" class="btn hover-up">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 deal-co">
                        <div class="deal wow fadeIn animated" style="background-image: url('assets/imgs/banner/menu-banner-8.jpg');">
                            <div class="deal-top">
                                <h2 class="text-success">Men Clothing</h2>
                                <h5>Shirt & Bag</h5>
                            </div>
                            <div class="deal-content">
                                <h6 class="product-title"><a href="shop-product-right.html">Try something new on vacation</a></h6>
                                <div class="product-price"><span class="new-price">$178.00</span><span class="old-price">$256.99</span></div>
                            </div>
                            <div class="deal-bottom">
                                <p>Hurry Up! Offer End In:</p>
                                <div class="deals-countdown" data-countdown="2026/03/25 00:00:00"></div>
                                <a href="shop-grid-right.html" class="btn hover-up">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->





        
     
    



        
        
    </main>
    <%- include('../partials/user-footer.ejs') %>
   